#info{

}

#mailform{
	float: left;
	clear: none;
}



table.info th {
    padding: 15px;
    text-align: left;
}

table.info td {
    padding: 15px;
    text-align: left;
}

caption { 
    display: table-caption;
    text-align: center;
	font-size: 30px;
}

#map{
	width: 500px;
	height: 200px;
}